body {
    font: 13pt/140% serif;
}

#app-container {
    /* All site content is contained within this div. This helps control the
     * site width. It's centered on the screen because it looks better. */
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 2em;
}

h2 {
    border-bottom: 1px solid black;
}

table, td, th {
    border: 1px dotted black;
    border-collapse: collapse;
}

td, th {
    padding: 0.25em;
}
